<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hokuyo">

    <xacro:macro name="hokuyo_lidar" params="parent:=base_link *origin range:=30">
        <!-- Create hokuyo reference frame -->
        <!-- Add mesh for hokuyo -->
        <joint name="scan_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="base_scan"/>
            <xacro:insert_block name="origin" />
          </joint>
          
        <link name="base_scan">
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://frontier_exploration/meshes/sensors/hokuyo.dae" /> 
            </geometry>
            <material name="light_black">
            <color rgba="0.4 0.4 0.4 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
            <geometry>
            <!-- <cylinder length="0.0315" radius="0.055"/> -->
            <box size="0.1 0.1 0.1"/>
            </geometry>
        </collision>
        
        <inertial>
            <mass value="0.114" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001" />
        </inertial>
        </link>

        <gazebo reference="base_scan">
        <material>Gazebo/FlatBlack</material>
        <sensor type="ray" name="lds_lfcd_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>100</update_rate>
            <ray>
            <scan>
                <horizontal>
                <samples>720</samples>
                <resolution>1</resolution>
                <!-- <min_angle>-3.14159</min_angle>
                <max_angle>3.14159</max_angle> -->
                <min_angle>-2.3562</min_angle>
                <max_angle>2.3562</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>0.1</min>
                <max>${range}</max>
                <resolution>0.01</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.01</stddev>
            </noise>
            </ray>
            <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
            <topicName>scan</topicName>
            <frameName>base_scan</frameName>
            </plugin>
        </sensor>
        </gazebo>

    </xacro:macro>
</robot>
